#background {
    width: 100vw;
    height: 100vh;
    background: #1A1A1A;
}

#white-cover {
    width: 40vw;
    height: 100vh;
    background-color: #FFF;
}

#left-section {
    position: absolute;
    left: 5.5vw;
    top:12vh;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    position: absolute;
    left: 5.5vw;
    top: 7.8vh;
    width: auto;
    height: 4.49vh;
}

#create-account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.6vh;
}


.underline {
    text-decoration: underline;
}

.heading-2 {
    color: #1C1B1A;
}

#grey {
    margin:0px;
    color: #1F1E1E;
}

#google-sign-up {
    display: flex;
    width: 25vw;
    height: 57px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 30px;
    border: 1px solid #D1D1D1;
}

#top-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    text-align: left;
}

#top-box .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    text-align: left;
}

#top-box .input-field {
    display: flex;
    width: 374px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

input {
    font-family: 'Poppins';
    font-size: 14px;
    width: 25vw;
    padding:0px;
    border-width: 0px;
    border: 0;
    outline: none;
}

::placeholder {
    font-size: 14px;
    color: #1F1E1E;
}

hr {
    text-align: left;
    width: 25vw;
    border-width: 1px;
}

.sign-up {
    display: flex;
    padding: 20px 10.4vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: #1C1B1A;
}

.or {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.or hr {
    text-align: left;
    width: 11vw;
}

.right-section {
    position: absolute;
    width: 60vw;
    left: 40vw;
    top:0vw;
}

h2 {
    color: #1F1E1E;
}



.lg {
    display: inline-block;
}

.sm {
    display: none;
}

#line-texture {
    position: absolute;
    top: -3vh;
    left: 5vw;
}

.graphic-wrapper {
    position: fixed;
    left:40vw;
    top: 0vh;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5vh;
    text-align: center;
}

#graphic {
    margin-left: 3vw;
    width: 30vw;
}


@media screen and (max-width: 1300px) {
    .lg {
        display: none;
    }

    .sm {
        display: inline-block;
    }
    
}